In [1]:
import yfinance

In [2]:
data = yfinance.Ticker("AAPL").history(interval="1d", period="max", action=True, progress=False, prepost=True, auto_adjust=True)

In [7]:
data = data.rename({"Open": "open"}, axis="columns")
data.astype({"open": "float32"})

,open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1980-12-12,0.100323,0.100759,0.100323,0.100323,469033600,0.0,0.0
1980-12-15,0.095525,0.095525,0.095089,0.095089,175884800,0.0,0.0
1980-12-16,0.088546,0.088546,0.088110,0.088110,105728000,0.0,0.0
1980-12-17,0.090291,0.090727,0.090291,0.090291,86441600,0.0,0.0
1980-12-18,0.092908,0.093345,0.092908,0.092908,73449600,0.0,0.0
...,...,...,...,...,...,...,...
2022-03-28,172.169998,175.729996,172.000000,175.600006,90371900,0.0,0.0
2022-03-29,176.690002,179.009995,176.339996,178.960007,100589400,0.0,0.0
2022-03-30,178.550003,179.610001,176.699997,177.770004,92633200,0.0,0.0
2022-03-31,177.839996,178.029999,174.399994,174.610001,103049300,0.0,0.0
2022-04-01,174.029999,174.880005,171.940002,174.309998,78699800,0.0,0.0

In [8]:
data["open"]

Date
1980-12-12      0.100323
1980-12-15      0.095525
1980-12-16      0.088546
1980-12-17      0.090291
1980-12-18      0.092908
                 ...
2022-03-28    172.169998
2022-03-29    176.690002
2022-03-30    178.550003
2022-03-31    177.839996
2022-04-01    174.029999
Name: open, Length: 10415, dtype: float64

In [4]:
ticker = yfinance.Ticker("AAPL")

In [77]:
list(ticker._expirations.keys())[1]

'2022-04-01'

In [ ]:
chain = ticker.option_chain(date=list(ticker._expirations.keys())[1])
chain.calls

In [57]:
chain.calls.insert(2, "option_type", ["call"] * len(chain.calls))

In [ ]:
chain.calls.rename({"inTheMoney": "in_the_money", "lastPrice": "last", "percentChange": "change_percentage"})

In [61]:
chain.calls.head()

,contractSymbol,lastTradeDate,option_type,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,AAPL220325C00105000,2022-03-22 19:25:38+00:00,call,105.0,63.95,63.35,64.25,4.600002,7.750636,5.0,10,2.833987,True,REGULAR,USD
1,AAPL220325C00110000,2022-03-15 19:43:23+00:00,call,110.0,44.95,58.50,59.30,0.000000,0.000000,60.0,75,2.015630,True,REGULAR,USD
2,AAPL220325C00114000,2022-03-22 19:54:50+00:00,call,114.0,54.75,54.60,55.35,4.650002,9.281441,1.0,1,2.039067,True,REGULAR,USD
3,AAPL220325C00115000,2022-02-25 16:46:16+00:00,call,115.0,49.47,53.60,54.65,0.000000,0.000000,1.0,1,2.222661,True,REGULAR,USD
4,AAPL220325C00120000,2022-03-18 15:14:48+00:00,call,120.0,42.00,48.60,49.25,0.000000,0.000000,10.0,22,1.703126,True,REGULAR,USD

In [64]:
type(chain.calls["inTheMoney"][0])

numpy.bool_